#info, #about, #interests {
    background-color: #1A1B21;
}

#info {
    width: 350px;
    height:auto;
    text-align: center
}

.profile-img {
    width: 100%;
    height: 18rem;
    border-radius: 10px 10px 0px 0px;
}

.profile-name {
    margin-bottom: 0;
    font-size: 1.5em;
}

.occupation {
    margin-top: 5px;
    margin-bottom: 0;
    color: #F3BF99;
}

.website {
    margin-top: 5px;
}

.btn-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn-info a, footer a {
    text-decoration: none;
}

.btn-email, .btn-linkedin {
    padding:  0 10px;
    max-height: 32px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
}

.btn-email {
    background-color: #D1D5DB;
    color: black;
    display: flex;
    align-items: center;
}

.btn-email > i, .btn-linkedin > i {
    padding: 0 10px;
}

.btn-email-txt, .btn-linkedin-text {
    padding-right: 10px;
}

.btn-linkedin {
    background-color: #5093E2 ;
    color: white;
    display: flex;
    align-items: center;
}

.btn-linkedin > i {
    color: white;
}

#about {
    padding: 2em 1.5em 0.5em 1.5em;
}
.abt-heading, .interests-heading {
    /* margin-bottom: 0.5em; */
}

.abt-content, .interests-content {
    font-size: 0.9rem;
    line-height: 150%;
}

#interests {
    padding: 0.5em 1.5em 2em 1.5em;
}

footer {
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: auto;
}

.icons {
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons  i {
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: bottom ease 0.5s;
}

.icons  i:hover {
    bottom: -5px;
}